.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);

  @media (max-aspect-ratio: 144 / 76) {
    /* stylelint-disable unit-no-unknown */
    width: 190dvh;
    height: 100dvh;
    /* stylelint-enable unit-no-unknown */
  }

  @media (min-aspect-ratio: 144 / 76) {
    /* stylelint-disable unit-no-unknown */
    width: 100dvw;
    height: 52dvw;
    /* stylelint-enable unit-no-unknown */
  }

  @media (max-width: $mobile) and (orientation: portrait) and (max-aspect-ratio: 32 / 53) {
    /* stylelint-disable unit-no-unknown */
    height: 100dvh;
    width: 60dvh;
    /* stylelint-enable unit-no-unknown */
  }

  @media (max-width: $mobile) and (orientation: portrait) and (min-aspect-ratio: 32 / 53) {
    /* stylelint-disable unit-no-unknown */
    height: 165dvw;
    width: 100dvw;
    /* stylelint-enable unit-no-unknown */
  }
}

.result__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &--flamingo {
    width: 18%;
    transform: translate(-92%, -5%) rotate(0deg);

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 63%;
      transform: translate(-82%, -14%) rotate(0deg);
    }
  }

  &--suitcase {
    width: 24%;
    transform: translate(-60%, -27%) rotate(0deg);

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 83%;
      transform: translate(-53%, -34%) rotate(0deg);
    }
  }

  &--leaf-3 {
    width: 23%;
    transform: translate(-11%, 26%) rotate(0deg);

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 80%;
      transform: translate(-4%, 12%) rotate(0deg);
    }
  }

  &--leaf-2 {
    width: 19%;
    transform: translate(-125%, 5%) rotate(0deg);

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 67%;
      transform: translate(-116%, -6%) rotate(0deg);
    }
  }

  &--leaf-1 {
    width: 19%;
    transform: translate(1%, -36%) rotate(0deg);

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 68%;
      transform: translate(9%, -43%) rotate(0deg);
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
