.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);

  @media (max-aspect-ratio: 144 / 76) {
    /* stylelint-disable unit-no-unknown */
    width: 190dvh;
    height: 100dvh;
    /* stylelint-enable unit-no-unknown */
  }

  @media (min-aspect-ratio: 144 / 76) {
    /* stylelint-disable unit-no-unknown */
    width: 100dvw;
    height: 52dvw;
    /* stylelint-enable unit-no-unknown */
  }

  @media (max-width: $mobile) and (orientation: portrait) and (max-aspect-ratio: 32 / 53) {
    /* stylelint-disable unit-no-unknown */
    height: 100dvh;
    width: 60dvh;
    /* stylelint-enable unit-no-unknown */
  }

  @media (max-width: $mobile) and (orientation: portrait) and (min-aspect-ratio: 32 / 53) {
    /* stylelint-disable unit-no-unknown */
    height: 165dvw;
    width: 100dvw;
    /* stylelint-enable unit-no-unknown */
  }
}

.result__image {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  left: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  canvas {
    outline: auto;
    display: block;
    transform: translate(-50%, -50%);
  }

  .screen--show & {
    opacity: 1;
  }

  &--flamingo {
    --translate-x: -92%;
    --translate-y: -5%;
    width: 18%;
    transform: translate(-73%, 110%) rotate(-33deg) scale(0.5);
    transform-origin: 51%  57%;
    transition:
      opacity 0.3s ease 0s,
      transform 0.9s ease 0s;

    .screen--show & {
      transform: translate(var(--translate-x), var(--translate-y)) rotate(0deg) scale(1);
      animation: flamingo-swaying 1.6s linear 1s infinite normal none;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      --translate-x: -82%;
      --translate-y: -14%;
      width: 63%;
      transform: translate(-70%, 77%) rotate(-33deg) scale(0.5);
    }
  }

  &--suitcase {
    width: 24%;
    transform: translate(-60%, 78%) rotate(22deg) scale(0.5);
    transition:
      opacity 0.3s ease 0.3s,
      transform 0.9s ease 0.3s;

    .screen--show & {
      transform: translate(-60%, -27%) rotate(0deg) scale(1);
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 83%;
      transform: translate(-53%, 59%) rotate(22deg) scale(0.5);

      .screen--show & {
        transform: translate(-53%, -34%) rotate(0deg);
      }
    }
  }

  &--leaf-3 {
    --translate-x: -11%;
    --translate-y: 26%;
    --axe: 1;
    width: 23%;
    transform: translate(var(--translate-x), var(--translate-y)) rotate(0deg);
    transform-origin: left center;
    transition: opacity 0.6s ease 0.6s;

    .screen--show & {
      animation: leaf-appear 3s ease 0.6s 1 normal both;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      --translate-x: -4%;
      --translate-y: 12%;
      width: 80%;
    }
  }

  &--leaf-2 {
    --translate-x: -125%;
    --translate-y: -5%;
    --axe: -1;
    width: 19%;
    transform: translate(var(--translate-x), var(--translate-y)) rotate(0deg);
    transform-origin: right center;
    transition: opacity 0.6s ease 0.9s;

    .screen--show & {
      animation: leaf-appear 3s ease 0.9s 1 normal both;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      --translate-x: -116%;
      --translate-y: -6%;
      width: 67%;
    }
  }

  &--leaf-1 {
    --translate-x: 1%;
    --translate-y: -36%;
    --axe: 1;
    width: 19%;
    transform: translate(var(--translate-x), var(--translate-y)) rotate(0deg);
    transform-origin: left bottom;
    transition: opacity 0.6s ease 1.2s;

    .screen--show & {
      animation: leaf-appear 3s ease 1.2s 1 normal both;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      --translate-x: 9%;
      --translate-y: -43%;
      width: 68%;
    }
  }
}

@keyframes leaf-appear {
  0% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(calc((0deg - 7deg) * var(--axe)));
    animation-timing-function: ease-in-out;
  }

  20% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(calc(5deg * var(--axe)));
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(calc((0deg - 3deg) * var(--axe)));
    animation-timing-function: ease-in-out;
  }

  60% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(calc(2deg * var(--axe)));
    animation-timing-function: ease-in-out;
  }

  80% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(calc((0deg - 1deg) * var(--axe)));
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(calc(0deg * var(--axe)));
    animation-timing-function: ease-in-out;
  }
}

@keyframes flamingo-swaying {
  0% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(0deg);
  }

  25% {
    transform: translate(var(--translate-x), calc(2% + var(--translate-y))) rotate(-1deg);
  }

  50% {
    transform: translate(var(--translate-x), calc(5% + var(--translate-y))) rotate(0deg);
  }

  75% {
    transform: translate(var(--translate-x), calc(2% + var(--translate-y))) rotate(1deg);
  }

  100% {
    transform: translate(var(--translate-x), var(--translate-y)) rotate(0deg);
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;
  transform: scale(1.2);
  transition: transform 0.9s ease;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  .screen--show & {
    transform: scale(1);
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;
  opacity: 0;
  transition: opacity 0.6s ease;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  .screen--show & {
    opacity: 1;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }

    .screen--show & {
      --axe: 1;
      animation: roll 0.9s ease 0s 1 normal both;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  --input-inline-padding: 2.5rem;
  --button-and-margin-size: 32rem;
  margin-top: auto;
  margin-left: auto;
  width: min(100%, calc(var(--input-inline-padding) * 2 + var(--button-and-margin-size)));
  transition: width 0.6s ease 0.6s;

  @media (min-width: $stop-scaling) {
    --input-inline-padding: 56px;
    --button-and-margin-size: 210px;
  }

  @media (orientation: portrait) {
    --input-inline-padding: 2rem;
    --button-and-margin-size: 5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    --button-and-margin-size: 9.8rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    --input-inline-padding: 2rem;
    --button-and-margin-size: 5rem;
  }

  .screen--show & {
    width: 100%;
  }
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
